body {
  max-width: 100%;
  margin: 0 auto;
  font-family: "游ゴシック体", "Yu Gothic", Arial, sans-serif;
}

.content {
  width: 860px;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-img {
  width: 7%;
  object-fit: cover;
  vertical-align: bottom;
  margin-left: 30px;
}

.hamburger-menu {
  width: 100px;
  height: 100px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
  top: 0px;
  right: 0px;
  background-color: red;
  position: fixed;
  z-index: 99;
}

.hamburger-menu-bar {
  display: inline-block;
  width: 60%;
  height: 2px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: .5s;
}

.hamburger-menu-bar:first-child {
  top: 32px;
}

.hamburger-menu-bar:nth-child(2) {
  top: 47px;
}

.hamburger-menu-bar:last-child {
  top: 62px;
}


.hamburger-menu--open .hamburger-menu-bar:first-child {
  transform: translateX(-50%) translateY(15px) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu-bar:last-child {
  transform: translateX(-50%) translateY(-15px) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu-bar:nth-child(2) {
  opacity: 0;
}


.navigation {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 999;
}

.navigation_list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation_link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 17px;
}

.navigation-botton {
  position: absolute;
  text-align: center;
  color: white;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  width: 230px;
  height: 50px;
  top: 160px;
  left: 42%;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.1em;

}

.nabigation-btn::before {
  content: '';
  position: absolute;
  top: 165px;
  left: 42.5%;
  width: 228px;
  height: 52px;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.navigation-botton:hover {
  background-color: white;
  color: red;
}


.header--open {
  background-color: red !important;
  height: 100vh !important;
  opacity: 1 !important;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 9999 !important;
}

.header--open img {
  transform: translateY(-280px);
}


.hamburger-menu--open+.navigation {
  display: block;

}


#main {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-bottom: 100px;
  justify-content: space-around;
}


.main-left {
  height: 200px;
  flex-basis: 40%;
  position: relative;
  z-index: 50;
  left: 130px;
  bottom: -300px;
}

.main-left h2 {
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 0.03em;
}


.main-button {
  position: relative;
  width: 430px;
  height: 70px;
  background-color: red;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 0 #b22222;

}

.main-button:hover {
  transform: scale(1.1, 1.1);
}

.main-button a {
  color: white;
  font-size: 25px;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.main-button a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  width: 15px;
  height: 15px;
  margin: auto;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.main-right {
  flex-basis: 100%;
  text-align: right;
  position: relative;
  z-index: 2;
}

.main-right img {
  width: calc(100% + 50px);
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  right: 0;
  opacity: 0;
  animation: image-switch-animation 15s infinite;
}

/* 5秒間の透明度を設定する */
@keyframes image-switch-animation {
  0% {
    opacity: 0.5;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0.8;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.main-right img:nth-child(1) {
  animation-delay: 0s;
}

.main-right img:nth-child(2) {
  animation-delay: 5s;
}

.main-right img:nth-child(3) {
  animation-delay: 10s;
}

#reason {
  margin-bottom: 100px;
  width: 100%;
}

#reason h2 {
  text-align: center;
  font-size: 35px;
}

#reason h2::after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 100px;
  border-bottom: solid 3px black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.reason-parent {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: red;
}

.reason-left {
  width: 50%;
  height: 220px;
  position: absolute;
  display: flex;
  background-color: white;
  top: 80px;
  left: 0;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(-100%);
  /* 左側に隠す */
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
  /* スムーズなアニメーション */
}

.reason-left img {
  object-fit: scale-down;
  width: 11%;
  margin-right: 20px;
}

.reason-left-child h3 {
  margin: 70px 0 0 0;
  font-size: 28px;
  color: red;
}

.reason-left-child p {
  margin-top: 0;
}

.reason-right {
  width: 50%;
  height: 220px;
  position: absolute;
  display: flex;
  background-color: white;
  bottom: 80px;
  right: 0;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translateX(100%);
  /* 右側に隠す */
  opacity: 0;
  transition: transform 2s ease, opacity 2s ease;
}

.reason-right img {
  object-fit: scale-down;
  width: 6%;
  margin-right: 20px;
}

.reason-right-child h3 {
  margin: 70px 0 0 0;
  font-size: 28px;
  color: red;
}

.reason-right-child p {
  margin-top: 0;
}

.reason-parent.show .reason-left,
.reason-parent.show .reason-right {
  transform: translateX(0);
  /* 中央にスライド */
  opacity: 1;
  /* フェードイン */
}

#voice {
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}

#voice h2 {
  font-size: 35px;
  text-align: center;

}

#voice h2::after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 100px;
  border-bottom: solid 3px black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.voice-left {
  display: flex;
  text-align: left;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  /* 初期位置を少し下に設定 */
  transition: opacity 2s ease, transform 2s ease;
  /* 不透明度と変形のスムーズなアニメーション */
}

.voice-right {
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  /* 初期位置を少し下に設定 */
  transition: opacity 2s ease, transform 2s ease;
  /* 不透明度と変形のスムーズなアニメーション */

}

.voice-left.show,
.voice-right.show {
  opacity: 1;
  /* 表示 */
  transform: translateY(0);
  /* 元の位置に戻す */
}

/* 遅延を設定 */
.voice-left.show:nth-of-type(1),
.voice-right.show:nth-of-type(1) {
  animation-delay: 0.1s;
}

.voice-left.show:nth-of-type(2),
.voice-right.show:nth-of-type(2) {
  animation-delay: 0.3s;
}

.voice-left.show:nth-of-type(3),
.voice-right.show:nth-of-type(3) {
  animation-delay: 0.6s;
}

.voice-child-left {
  flex-basis: 25%;
  text-align: center;
}

.voice-child-right {
  flex-basis: 60%;
  text-align: left;
}

.voice-child-left img {
  width: 55%;
  background-color: #c9c9c9;
  border: 2px solid #c9c9c9;
  border-radius: 50%;
  margin-top: 20px;
}

#voice h5 {
  margin: 0;
  font-size: 13px;
  line-height: 1.3em;
  font-weight: normal;
}


.voice-child-right {
  text-align: left;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}


.voice-left p::before {
  content: "";
  position: absolute;
  left: 198px;
  bottom: 50px;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-right: 18px solid #f0f8ff;
  border-bottom: 18px solid transparent;
}

.voice-right p::after {
  content: "";
  position: absolute;
  right: 198px;
  bottom: 50px;
  width: 0;
  height: 0;
  border-left: 18px solid #f0f8ff;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

#overview {
  width: 100%;
  height: fit-content;
  margin-bottom: 120px;
  background-image: url(img/bg.gif);
  background-repeat: repeat;
  /* 背景画像を繰り返す */
  animation: flow 10s linear infinite;
  /* アニメーションを適用 */
}

/* 背景が右上から左下に流れるアニメーション */
/* 流す背景のポジションと画像サイズを一致させる */
@keyframes flow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -700px 700px;
  }
}


#overview h2 {
  font-size: 35px;
  margin-top: 0;
  text-align: center;
  padding-top: 60px;
}

#overview h2::after {
  content: "";
  margin: 10px auto;
  display: block;
  width: 100px;
  border-bottom: solid 3px black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.overview-parent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.overview-left {
  flex-basis: 48%;
  text-align: center;
  margin-bottom: 20px;
}

.overview-child {
  margin: 30px auto;
  padding: 50px 60px;
  background-color: white;
  border-radius: 20px;
}

.overview-child h3 {
  font-size: 28px;
  margin: 0 auto;
}

.overview-child h4 {
  margin-top: 0;
  font-size: 20px;
}

.overview-child p {
  text-align: left;
  font-size: 17px;
  text-wrap: pretty;
  letter-spacing: 0.03em;
}

.overview-right {
  flex-basis: 48%;
  text-align: center;
  margin-bottom: 20px;
}


#application {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#application h2 {
  font-size: 33px;
  margin-bottom: 0;
}

#application p {
  font-size: 20px;
  margin-top: 0;
}

.application-button {
  width: 860px;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 120px;
  border-radius: 40px;
  border: none;
  background-color: red;
  color: white;
  font-size: 25px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.application-button:hover {
  border: 1px solid red;
  background-color: white;
  color: red;
}

.footer {
  width: 100%;
  margin: 0 auto;
}

footer {
  width: 100%;
  background-color: #e9e9e9;
}

#footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer {
  flex-basis: 23%;
  text-align: left;
}

.footer p {
  margin-bottom: 0;
  padding-top: 30px;
  font-weight: 600;
}

.footer ul {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 10px;
  margin-top: 10px;
}

.footer li {
  line-height: 1.8rem;
  font-size: 15px;
}

.footer-p {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.08em;
}

@media screen and (max-width:900px) {

  #container {
    overflow: hidden;
  }

  .contet {
    max-width: 100%;
  }

  .header {
    height: 80px;
  }

  .top-img {
    width: 12%;
    height: auto;
    margin-left: 10px;
  }

  .hamburger-menu {
    width: 80px;
    height: 80px;
  }

  .navigation-botton {
    transform: translateX(-60px);
  }

  .nabigation-btn::before {
    transform: translateX(-58px);
  }

  .header--open img {
    transform: translateY(-380px);
  }

  #main {
    flex-direction: column-reverse;
    height: 500px;
    margin-bottom: 50px;
  }

  .main-left {
    flex-basis: 100%;
    top: 0;
    left: 0;
  }

  .main-left h2 {
    font-size: 30px;
    margin-left: 20px;
  }

  .main-button {
    width: 80%;
    margin-left: 40px;

  }

  .main-right {
    width: 100%;
    height: 500px;
    top: 0;
  }

  .reason-parent {
    height: 550px;
  }

  .reason-parent h3 {
    margin-top: 25px;
  }

  .reason-parent img {
    width: 20%;
    margin-left: 20px;
  }


  .reason-parent p {
    font-size: 23px;
  }

  .reason-left {
    width: 90%;
    height: 180px;
  }

  .reason-left-child {
    padding-right: 10px;
    padding-left: 5px;
  }

  .reason-right {
    width: 90%;
    height: 180px;
  }

  .reason-right-child {
    padding-right: 10px;
    padding-left: 5px;
  }

  #voice {
    width: 100%;
    text-align: center;
  }

  .voice-left {
    flex-direction: column-reverse;
  }

  .voice-right {
    flex-direction: column-reverse;
  }

  .voice-child-left img {
    width: 30%;
  }

  .voice-child-right br {
    display: none;
  }

  .voice-child-right {
    margin: 20px;
    padding: 20px 10px;
    letter-spacing: 0.03em;
    text-wrap: stable;
    font-size: 17px;
  }

  #voice h5 {
    font-size: 20px;
  }

  .voice-left p::before {
    display: none;
  }

  .voice-right p::after {
    display: none;
  }

  .voice-child-right {
    position: relative;
  }

  .voice-child-right::after {
    content: "";
    position: absolute;
    bottom: -11%;
    left: 46%;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid #f0f8ff;
  }

  .voice-child-left {
    position: relative;
  }

  .voice-child-left::after {
    content: "";
    position: absolute;
    top: -14%;
    left: 46%;
    width: 0;
    height: 0;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
    border-top: 23px solid #f0f8ff;
  }

  #overview {
    height: 1222px;
  }

  .overview-parent {
    display: block;
    width: 100%;
  }

  .overview-child {
    padding: 20px 10px;
    margin-left: 13px;
    margin-right: 13px;
  }

  #application {
    width: 100%;
    margin: 0 auto;
  }

  #application h2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }
  #application p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }

  .application-button {
    width: 90%;
  }

  #footer {
    width: 100%;
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2列 */
    grid-template-rows: auto auto;
    /* 2段 */
    gap: 3px;
    /* 各セクションの間隔 */
  }

  .footer {
    padding: 10px;
    margin-left: 20px;
  }


}